BASE_DATA_FILE=<location of full data>
OUTPUT_DIR_MULTILABEL=<location of exploded data>
OPENAI_API_KEY=<openai api key>

MLFLOW_TRACKING_SERVER=<full http for mlflow tracking server, omit setting this to use local tracking>
MLFLOW_EXPERIMENT_NAME=<name of mlflow experiment>
MLFLOW_S3_ENDPOINT_URL=<this is passed directly into mlflow so set it if you need it, otherwise omit>
AWS_ACCESS_KEY_ID=<aws access key, used for s3>
AWS_SECRET_ACCESS_KEY=<aws secret key, for s3>